<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlavorFinds</title>

    <style>
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
        }
        .container{
            width: 30%;
            height: 500px;
            border: 1px solid black;

            margin: 0 auto;
            margin-bottom: 100px;
        }
        img{
            width: 100%;
            max-height: 50%;
        }
    </style>
</head>
<body>
    <h1>Flavor Finds</h1>
        <% for (let item of restaurants){%>
            <div class="container">
                <!-- <a href="/<%=item._id%>"></a> -->
                <li><%=item.name%></li>
                <img src="<%=item.image%>" alt="">
                <li><%=item.price%></li>
                <li><%=item.location%></a></li>
                <a href="/<%=item._id%>">Edit</a>
            </div>
        <%}%>
    <a href="/new">Add New Review</a>
</body>
</html>