<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlavorFinds</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>
<body>
    <nav class="nav">
        <h1>Flavor Finds</h1>
        <a href="/new">Add New Review</a>
    </nav>

    
        <% for (let item of restaurants){%>
            <div class="container">
                <!-- <a href="/<%=item._id%>"></a> -->
                <h3><%=item.name%></h3>
                <p class="location"><%=item.location%></p>          
                <img src="<%=item.image%>" alt=""> 
                <div class="block">
                    <p class="price">Avg Price: $<%=item.price%></p>
                </div>  
                <div class="text">
                    <p class="description"><%=item.description%></p>
                </div>   
                <div class="btn-container">
                    <a href="/<%=item._id%>" class="btn">See More</a>
                </div> 
            </div>
        <%}%>
</body>
</html>