<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlavorFinds</title>

    <style>
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
        }
        .container{
            width: 50%;
            height: fit-content;
            border: 1px solid black;

            margin: 0 auto;
            margin-bottom: 100px;

            text-align: center;
            padding: 10px 0;
        }
        img{
            max-width: 80%;
            max-height: 50%;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        h3{
            font-size: 50px;
        }
        
        .text{
            width: 60%;
            margin: 0 auto;
        }
        .price{
            font-size: 25px;
            margin-top: 0;
        }
        .location{
            padding: 0;
            margin: 0;
            font-size: 18px;
            color: rgb(150, 150, 150);
        }
        .block{
            max-width: 50%;
            margin: 0 auto;
            margin-top: 2%;
        }
    </style>
</head>
<body>
    <h1>Flavor Finds</h1>
        <% for (let item of restaurants){%>
            <div class="container">
                <!-- <a href="/<%=item._id%>"></a> -->
                <h3><%=item.name%></h3>
                <img src="<%=item.image%>" alt=""> 
                <div class="block">
                    <p class="location"><%=item.location%></p>          
                    <p class="price">Avg Price: $<%=item.price%></p>
                </div>  
                <div class="text">
                    <p><%=item.description%></p>
                </div>    
                <a href="/<%=item._id%>">Edit</a>
            </div>
        <%}%>
    <a href="/new">Add New Review</a>
</body>
</html>